{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section id="one">
    <header class="major">
        <h2>About Me</h2>
    </header>
    <p>Recent college graduate in business analytics. Passionate about information 
        technology, privacy, and user-centered design, economics, and business 
        strategy, the brain, and building a better future</p>
    <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
    </ul>
</section>
{% endblock %}