<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/assets/css/main.css" />
  </head>
  <body class="is-preload">

		<!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="image avatar"><img src="static/images/avatar.jpg" alt="" /></a>
        <h1><strong>Nicholas Cale</strong>, a some more<br />
        information about me and<br />
        even some more</h1>
      </div>
      <div class="inner">
        <nav>
          <a href="/">Explore</a><br />
          <a href="/about">About</a><br />
          <a href="/projects">Projects</a><br />
        </nav>
      </div>
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li><a href="https://twitter.com/nick_cale" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/nickcale" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <ul class="copyright">
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
        </div>
      </footer>
    </header>

		<!-- Main -->
    <div id="main">{% block content %}{% endblock %}</div>

		<!-- Scripts -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/jquery.poptrox.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

  </body>
</html>
