{% extends "base.html" %} 

{% block title %}Nicholas Cale{% endblock %}

{% block content %}
<!-- One -->
<section id="one">
    <header class="major">
        <h1>Explore This Site</h1>
    </header>
    <p>Chicago IT consulting. I'm passionate about tech, the brain, and building a better future.</p>
</section>

<!-- Two -->
<section id="two">
    <h2>About Me</h2>
    <p>Chicago IT consulting...</p>
    <ul class="actions">
        <li><a href="/about" class="button">Learn More</a></li>
    </ul>
</section>

<!-- Three -->
<section id="three">
    <h2>Projects</h2>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
        <a href="static/images/fulls/01.jpg" class="image fit thumb"><img src="static/images/thumbs/01.jpg" alt="" /></a>
        <h3>Magna sed consequat tempus</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
        <a href="static/images/fulls/02.jpg" class="image fit thumb"><img src="static/images/thumbs/02.jpg" alt="" /></a>
        <h3>Ultricies lacinia interdum</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
        <a href="static/images/fulls/03.jpg" class="image fit thumb"><img src="static/images/thumbs/03.jpg" alt="" /></a>
        <h3>Tortor metus commodo</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
        <a href="static/images/fulls/04.jpg" class="image fit thumb"><img src="static/images/thumbs/04.jpg" alt="" /></a>
        <h3>Quam neque phasellus</h3>
        <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
        </article>
    </div>
    <ul class="actions">
        <li><a href="/projects" class="button">Full Portfolio</a></li>
    </ul>
</section>
{% endblock %}
