{% extends "base.html" %} 

{% block title %}Nicholas Cale{% endblock %}

{% block content %}
<!-- One -->
<section id="one">
    <header class="major">
        <h1>Explore This Site</h1>
    </header>
    <p>Chicago IT consulting. I'm passionate about tech, the brain, and building a better future.</p>
</section>

<!-- Two -->
<section id="two">
    <h2>Writing</h2>
    <p>The future of privacy</p>
    <ul class="actions">
        <li><a href="/about" class="button">Learn More</a></li>
    </ul>
</section>

<!-- Three -->
<section id="three">
    <h2>Recent Projects</h2>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="https://github.com/nickcale/portfolio-website" target="_blank" class="image fit thumb"><img src="static/images/thumbs/01.jpg" alt="" /></a>
            <h3>Portfolio Website</h3>
            <p>Simple website built using python (flask) designed to showcase my coding projects, writing, and social media.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="https://github.com/nickcale/global-emissions-dashboard" target="_blank" class="image fit thumb"><img src="static/images/thumbs/02.jpg" alt="" /></a>
            <h3>Global Emissions Dashboard</h3>
            <p>R shiny dashboard visualizing global greenhouse gas emissions from different countries and uses.</p>
        </article>
    </div>
    <ul class="actions">
        <li><a href="/projects" class="button">Full Portfolio</a></li>
    </ul>
</section>
{% endblock %}
