{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<section id="two">
    <header class="major">
        <h2>Project Portfolio</h2>
    </header>
    <div class="row">
        <article class="col-6 col-12-xsmall work-item">
            <a href="https://github.com/nickcale/portfolio-website" target="_blank" class="image fit thumb"><img src="static/images/thumbs/01.jpg" alt="" /></a>
            <h3>Portfolio Website</h3>
            <p>Simple website built using python (flask) designed to showcase my coding projects, writing, and social media.</p>
        </article>
        <article class="col-6 col-12-xsmall work-item">
            <a href="https://github.com/nickcale/global-emissions-dashboard" target="_blank" class="image fit thumb"><img src="static/images/thumbs/02.jpg" alt="" /></a>
            <h3>Global Emissions Dashboard</h3>
            <p>R shiny dashboard visualizing global greenhouse gas emissions from different countries and uses.</p>
        </article>
    </div>
</section>




{% endblock %}